@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    margin: 0;
    padding: 0;
}

.button {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    position: relative;

    display: inline-block;

    width: 100%;
    height: 40px;
    padding-top: 8px;

    text-align: center;
    text-decoration: none;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;
    border: none;
    background-color: transparent;
}

.button:active {
    color: #6a6a6a;
}

.button::after {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 0;

    width: 100%;
    height: 9px;

    content: '';

    background-color: #f0c52e;
}

.button:active::after,
.button:hover::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;

    content: '';

    background-color: #f0c52e;
}

.link {
    text-decoration: none;

    color: #000;
}

.link:hover {
    opacity: .6;
}

.link:active {
    opacity: .3;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(50%);
}

.header {
    width: 1160px;
    min-height: 185px;
    margin: 40px auto 0;

    background-color: #f7e296;
}

.header-wrapper-top {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 25px;

    justify-content: space-between;
}

.header-wrapper-service {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;

    width: 1040px;
    margin: 0 auto;
}

.logo {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 48px;
    font-weight: 800;

    letter-spacing: .015em;
    text-transform: uppercase;
}

.logo--header {
    margin-top: -15px;
    margin-bottom: 29px;
}

.search-form {
    width: 50%;
}

.search-form__button {
    display: none;
}

.search-form__input {
    line-height: 23px;

    height: 45px;
    margin: 0;
    padding: 10px;

    border: none;
    background-color: #f7e296;
}

.search-form__input:focus {
    line-height: 25px;

    color: black;
    border-bottom: 2px solid #000;
}

.search-form__label {
    font-size: 0;

    display: inline-block;

    box-sizing: content-box;
    margin-left: 10px;
}

.search-form__label::before {
    position: relative;
    top: -3px;
    left: -4px;

    display: inline-block;

    width: 16px;
    height: 16px;

    content: '';

    background: url('../img/search.svg') no-repeat;
    background-size: 16px 16px;
}

.search-form__input:focus + .search-form__button {
    display: inline-block;

    height: 45px;
    padding: 10px;

    color: #000;
    border: 2px solid #000;
    background-color: #f7e296;
}

.search-form__button:hover {
    color: #fff;
    background-color: #000;
}

.search-form__button:active {
    display: inline-block;

    height: 45px;
    padding: 10px;

    color: #6a6a6a;
    border: 2px solid #000;
    background-color: #000;
}

.search-form__button:active::placeholder {
    opacity: .5;
}

.search-form__input::placeholder {
    opacity: .3;
}

.search-form__input:hover::placeholder {
    opacity: .6;
}

/* service navigation */

.service-nav {
    flex-grow: 1;
}

.service-items {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}

.service-item {
    position: relative;

    padding-left: 20px;
}

.service-item:first-child {
    margin-right: auto;
    margin-left: 20px;
}

.service-item:last-child {
    margin-left: 40px;
}

.footer .service-item::before,
.service-item::before {
    position: absolute;
    top: 5px;
    left: 0;

    width: 16px;
    height: 16px;

    content: '';

    background-size: 16px 16px;
}

.service-item--login::before {
    background-image: url('../img/user.svg');
}

.service-item--login-yellow::before {
    background-image: url('../img/user-yellow.svg');
}

.service-item--compare::before {
    background-image: url('../img/compare.svg');
}

.service-item--compare-yellow::before {
    background-image: url('../img/compare-yellow.svg');
}

.service-item--cart::before {
    background-image: url('../img/cart.svg');
}

.service-item--cart-yellow::before {
    background-image: url('../img/cart-yellow.svg');
}

.service-item:hover {
    opacity: .6;
}

.service-item:active {
    opacity: .3;
}

.service-item__link {
    text-decoration: none;

    color: #000;
}

.service-item__text {
    margin-left: 5px;
}

.service-item__logout {
    opacity: .3;
    border: none;
    background-color: transparent;
}

.service-item__logout:hover {
    opacity: .6;
}

.service-item__logout:active {
    opacity: 1;
}

.footer .service-item__logout {
    color: #fff;
}

.header-wrapper-menu {
    width: 100%;
    margin-bottom: 160px;
}

.catalog-link {
    position: relative;
}

.catalog-link::after {
    position: absolute;
    top: 2px;
    right: -27px;

    width: 16px;
    height: 16px;

    content: '';

    background: url('../img/plus.svg') no-repeat;
}

.site-nav {
    width: 100%;
}

.site-nav__items {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}

.site-nav__item {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    text-align: start;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.site-nav__item--catalog {
    width: 50%;
}

.site-nav__item:nth-child(2) {
    margin-right: 35px;
    margin-left: 20px;
}

.site-nav__item:nth-child(3) {
    flex-grow: 1;
}


.site-nav__dropdown {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;

    display: none;

    margin: 0;
    padding: 0;

    list-style: none;

    letter-spacing: .01em;
    text-transform: initial;
}

/* Слайдер */

.promo {
    display: block;

    width: 1060px;
    height: 482px;
    margin: 0 auto;
}

.promo-item {
    position: relative;
    top: -110px;

    display: flex;

    justify-content: space-between;
}

.promo-selfie__image {
    width: 384px;
    height: 486px;
    margin-left: 40px;
}

.promo-description {
    font-family: Gilroy, Arial, sans-serif;

    position: relative;

    width: 500px;
    margin-right: 12px;
    padding-top: 80px;

    letter-spacing: .03em;
}

.promo-description::before {
    position: absolute;
    top: 37px;

    width: 100px;
    height: 7px;

    content: '';

    background-color: #fff;
}

.promo-description::after {
    font-size: 179px;
    font-weight: 800;
    line-height: 179px;

    position: absolute;
    top: -15px;
    right: -13px;

    content: '01';

    color: #fff;
}

.promo-slogan {
    margin-bottom: 43px;
}

.promo-description__label {
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    margin: 0 0 20px;

    letter-spacing: .013em;
}

.promo-description__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    margin: 0;

    letter-spacing: .03em;

    color: #464646;
}

.promo-controls {
    display: flex;

    margin-bottom: 50px;

    justify-content: space-between;
}

.promo-button {
    width: 220px;
}

.promo-radio {
    width: 100px;

    text-align: end;
}

/* Таблица слайдера */

.table {
    display: flex;
    flex-direction: column-reverse;

    width: 460px;

    justify-content: space-between;
}

.table-header {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;

    display: flex;

    color: #464646;

    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-start;
}

.table-header__item {
    font-weight: 300;

    width: 160px;
}

.table-header__item:nth-child(2) {
    width: 140px;
}

.table-data {
    font-size: 36px;
    line-height: 48px;

    display: flex;

    margin-bottom: 7px;

    justify-content: space-between;
}

.table-data__item {
    width: 160px;
}

.table-data__item:nth-child(2) {
    width: 140px;
}

/* Популярные товары */

.popular {
    width: 1160px;
    margin: 0 auto 180px;
}

.popular-menu {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}

.popular-item {
    width: 160px;
}



.popular-item__link {
    text-decoration: none;

    color: #000;
}

.popular-item__image-wrapper {
    display: flex;

    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-color: #f7e296;

    justify-content: center;
    align-items: center;
}

.popular-item__image-wrapper--monopods {
    align-items: flex-end;
}

.popular-item__image-wrapper:hover {
    background-color: #f0c52e;
}

.popular-item__link:active .popular-item__image,
.popular-item__link:active .popular-item__text {
    opacity: .3;
}

.popular-item__text {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    width: 160px;
    margin: 0;
}

/* Сервисы */


.services {
    font-family: Gilroy, Arial, sans-serif;

    position: relative;

    height: 288px;

    background-color: #e5e5e5;
}

.services-container {
    width: 1160px;
    margin: 0 auto;
}

.services-wrapper {
    position: absolute;
    top: -19px;

    display: flex;
}

.services-inner {
    top: -24px;

    display: inline-flex;
}

.services-controls {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 160px;
    min-height: 170px;

    justify-content: space-between;
}

.services-controls::after {
    position: absolute;
    top: -81px;
    left: 277px;

    width: 7px;
    height: 319px;

    content: '';

    background-color: #000;
}

.services-items {
    width: 760px;
}

.services-button {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    position: relative;
    z-index: 1;

    display: block;

    width: 100%;
    min-height: 40px;
    padding-top: 8px;

    text-align: center;
    text-decoration: none;
    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;
    border: none;
    background-color: transparent;
}

.services-button--active,
.services-button:active {
    color: #f7e296;
}

.services-button::after {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: #f0c52e;
}

.services-button:active::after,
.services-button:hover::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;

    content: '';

    background-color: #f0c52e;
}

.services-button--active::after {
    background-color: #000;
}

.services-button--active:hover {
    color: #000;
    background-color: #f0c52e;
}

.services-button--active,
.services-button:active::after {
    background-color: #000;
    box-shadow: 120px 0 0 0 #000;
}


.services-item__label {
    font-size: 47px;
    font-weight: 800;

    margin: 0 0 40px;
    padding: 0;

    letter-spacing: .02em;

    color: #000;
}

.services-item__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    margin: 0;
    padding: 0 80px 0 0;

    letter-spacing: .02em;

    color: #464646;
}

.services-item {
    display: flex;
}

.services-item__description {
    display: flex;
    flex-direction: column;

    margin-left: 240px;
}

.services-item__delivery {
    position: relative;
}

.services-item__delivery::after {
    position: absolute;
    top: 3px;
    right: -174px;

    display: inline-block;

    width: 136px;
    height: 164px;

    content: '';

    background-image: url('../img/delivery.svg');
}

.services-item__warranty::after {
    display: inline-block;

    width: 171px;
    height: 195px;

    content: '';

    background-image: url('../img/warranty.svg');
}

.services-item__credit::after {
    display: inline-block;

    width: 156px;
    height: 188px;

    content: '';

    background-image: url('../img/credit.svg');
}

/* Представленные бренды */

.partners {
    margin-bottom: 100px;
}

.partners-container {
    width: 1160px;
    margin: 0 auto;
}

.partners-list {
    display: flex;

    margin: 90px 0 0;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}

.partners-list__image {
    display: block;

    width: 260px;
    height: 100px;

    opacity: .2;
}

.partners-list__image--dji {
    background-image: url('../img/logo-partner-dji.png');
}

.partners-list__image--dji:hover {
    opacity: 1;
    background-image: url('../img/logo-partner-dji-colored.png');
}

.partners-list__image--spgadgets {
    background-image: url('../img/logo-partner-spgadgets.png');
}

.partners-list__image--spgadgets:hover {
    opacity: 1;
    background-image: url('../img/logo-partner-spgadgets-colored.png');
}

.partners-list__image--gopro {
    background-image: url('../img/logo-partner-gopro.png');
}

.partners-list__image--gopro:hover {
    opacity: 1;
    background-image: url('../img/logo-partner-gopro-colored.png');
}

.partners-list__image--vive {
    background-image: url('../img/logo-partner-vive.png');
}

.partners-list__image--vive:hover {
    opacity: 1;
    background-image: url('../img/logo-partner-vive-colored.png');
}

.contacts {
    margin-bottom: 82px;
}

.contacts-container {
    width: 1160px;
    margin: 0 auto;
}

.contacts-wrapper {
    display: flex;

    justify-content: space-between;
}

.contacts-item {
    position: relative;

    padding-right: 5px;
}

.contacts-item::before {
    position: absolute;
    top: -4px;

    width: 80px;
    height: 7px;

    content: '';

    background-color: #000;
}

.contacts-item:first-child {
    width: 500px;
}

.contacts-item:last-child {
    width: 560px;
}


.contacts-label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
}

.contacts-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;

    margin: 0 0 30px;
    padding: 0;
}

.contacts-map {
    margin-top: 7px;
    margin-bottom: 60px;
}

.contacts-partners {
    margin: 63px 0 55px 0;
    padding: 0 0 0 35px;

    list-style: none;
}

.contacts-partners__item {
    position: relative;
}

.contacts-partners__item::before {
    position: absolute;
    top: 18px;
    left: -34px;

    width: 8px;
    height: 8px;

    content: '';

    border: 2px solid #e6e6e6;
    border-radius: 10px;
    background-color: #fff;
}

.contacts-partners__link {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;

    color: #000;
}

.contacts-link {
    width: 260px;
}

.footer {
    background-color: #464646;
}

.footer-container {
    width: 1160px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;

    padding-top: 65px;

    justify-content: space-between;
}

.row-top {
    position: relative;

    display: flex;

    margin-bottom: 35px;

    justify-content: space-between;
    align-items: flex-start;
}

.footer .service-nav {
    width: 50%;

    flex-grow: 0;
}

.footer .service-item:first-child {
    margin-right: 0;
    margin-left: 255px;
}

.footer .service-item:last-child {
    margin-left: 0;
}

.row-middle {
    display: flex;

    margin-bottom: 65px;

    justify-content: center;
    align-items: baseline;
}

.row-bottom {
    display: flex;

    margin-bottom: 65px;

    justify-content: space-between;
}

.footer-left {
    width: 33%;
}

.footer-right {
    width: 33%;
}

.footer-center {
    flex-grow: 1;
}

.footer .link {
    color: #fff;
}

.footer .logo {
    text-decoration: none;

    color: #ffc600;
}

.footer-address {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    display: flex;

    width: 33%;

    color: #fff;

    justify-content: flex-start;
}

.footer-service-nav {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    display: flex;

    width: 440px;
    margin: 0;
    padding: 0;

    list-style: none;

    letter-spacing: .2em;
    text-transform: uppercase;

    justify-content: space-between;
}

.footer-line {
    position: relative;

    width: 33%;
}

.footer-line::before {
    position: absolute;
    top: 13px;

    width: 80px;
    height: 7px;

    content: '';

    background-color: #ffc600;
}

.footer-phone {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    display: flex;

    width: 33%;

    color: #fff;

    justify-content: flex-end;
}

.social-icons {
    display: flex;

    width: 160px;
    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: center;
    flex-grow: 1;
}

.social-link:nth-child(2) {
    margin-right: 22px;
    margin-left: 22px;
}

.social-icon {
    display: block;

    width: 32px;
    height: 32px;

    opacity: .3;
}


.social-icon:hover {
    opacity: .6;
}

.social-icon:active {
    opacity: .1;
}

.social-icon--facebook {
    background-image: url('../img/fb.svg');
}

.social-icon--instagram {
    background-image: url('../img/instagram.svg');
}

.social-icon--twitter {
    background-image: url('../img/twitter.svg');
}

.html-academy {
    display: flex;

    width: 33%;

    justify-content: flex-end;
}

/* Модальные окна */

.contact-item__label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    color: #000;
}

.contact-item__input {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    padding-left: 18px;

    color: #464646;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

.contact-item__input--text {
    width: 360px;
    height: 50px;
}
.contact-item__input--textarea {
    width: 760px;
    height: 156px;
    padding-top: 18px;
}

.contact-item__input:hover {
    background-color: #eaeaea;
}

.contact-item__input:focus {
    border: 2px #f7e296 solid;
    background-color: #fff;
}

.contact-item__input::placeholder {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    color: #464646;
}


/* Каталог */

.catalog-title {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;

    margin: 0;
    padding: 0;

    letter-spacing: .01em;
}

.breadcrumbs {
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumb {
    text-decoration: none;

    opacity: .3;
    color: #000;
}

.breadcrumb:hover {
    opacity: .6;
}

.breadcrumb:active {
    opacity: .1;
}

.breadcrumb--current {
    opacity: .3;
}

.filter {
    font-family: 'Open Sans', Arial, sans-serif;

    letter-spacing: .01em;
}

.filter-main {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    letter-spacing: .2em;
    text-transform: uppercase;
}

.filter-label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.filter-price__output {
    font-size: 14px;
    line-height: 24px;

    opacity: .2;
}

.filter-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-option__label {
    font-size: 14px;
    line-height: 40px;
}

.catalog-sort__label {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    letter-spacing: .2em;
    text-transform: uppercase;
}

.catalog-sort__items,
.catalog-order {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-sort__button {
    font-weight: 400;

    opacity: .3;
}

.catalog-sort__button:hover {
    opacity: .6;
}

.catalog-sort__button:active {
    opacity: 1;
}

.catalog-sort__button--selected {
    opacity: 1;
}

.catalog-order__button {
    font-size: 0;
}

.catalog-order__button::before {
    display: inline-block;

    width: 11px;
    height: 10px;

    content: '';

    opacity: .2;
}

.catalog-order__button:hover::before {
    opacity: .4;
}

.catalog-order__button:active::before {
    opacity: 1;
}


.catalog-order__button--up::before {
    background-image: url('../img/icon-up-dir.svg');
}

.catalog-order__button--down::before {
    background-image: url('../img/icon-down-dir.svg');
}

.catalog-order__button--selected::before {
    opacity: 1;
}

.catalog-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-button__compare {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;

    letter-spacing: .01em;

    opacity: .5;
    border: none;
    background-color: transparent;
}

.catalog-button__compare:hover {
    opacity: 1;
}

.catalog-button__compare:active {
    opacity: .2;
}

.catalog-item__link {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    letter-spacing: .01em;
}

.catalog-item__price {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    letter-spacing: .01em;
}

.pagination {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    letter-spacing: .2em;

    background-color: #ebebeb;
}

.pagination-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination__link {
    text-decoration: none;
    text-transform: uppercase;

    color: #000;
}

.pagination__link:active {
    color: #acacac;
}

.pagination__link--prev,
.pagination__link--next {
    line-height: 70px;

    display: inline-block;

    width: 176px;
    height: 70px;

    text-align: center;
}

.pagination__link--prev:hover,
.pagination__link--next:hover {
    background-color: #d9d9d9;
}

.pagination-list__item {
    opacity: .3;
}

.pagination-list__item--current {
    opacity: 1;
}
